<div ng-controller='AssetScheduleListController' ng-init="listAllCampaigns(); listAllAssets();" >

	<div class="pure-g">
	    <div class="pure-u-1 pure-u-md-1-5">
            <a class="pure-button pure-button-primary" href="#/create">Add Asset Schedule</a>
            
	    </div>
	    <div class="pure-u-1 pure-u-md-4-5"></div>
	</div>

	<div class="pure-g">
		<div class="pure-u-1-3 pure-u-md-1-3 search-panel">
            <select id="campaignId" class="pure-u-1 pure-u-md-1-3 search-form-content" ng-model="search.campaignId" 
              ng-options="c.id as c.campaingName for c in campaigns"  ng-required="true">
            </select>

            <select id="assetId" class="pure-u-1 pure-u-md-1-3 search-form-content" ng-model="search.assetId" 
               ng-options="a.id as a.name for a in assets" ng-required="true">
            </select>

            <button class="pure-button" ng-click="searchData()">
			    <i class="fa fa-cog"></i> Search
			</button>
	    </div>		
	    <div class="pure-u-1 pure-u-md-1">
	    	<table st-table="schedules" class="pure-table pure-table-horizontal">
			    <thead>
			      <tr>
				      <th st-sort="name" >Campaign</th>
				      <th st-sort="assetType">Asset</th>
				      <th st-sort="description">Description</th>
				      <th st-sort="resource">From</th>
				      <th st-sort="resource">To</th>
				      <th st-sort="resource">Duration (mins)</th>
			      	  <th st-sort="status" >Status</th>
			      	  <th st-sort="createdBy" >Created By</th>
			      	  <th>Action</th>
		      	  </tr>
		    	</thead>
		    	<tbody>
			      	<tr ng-repeat="row in schedules">
			      		<td>{{row.campaignId}}</td>
			        	<td>{{row.assetId}}</td>
			        	<td>{{row.description}}</td>
			        	<td>{{row.fromDate}}</td>
			        	<td>{{row.toDate}}</td>
			        	<td align='right'>{{row.duration}}</td>
			      		<td>{{row.status}}</td>
			      		<td>{{row.createdBy}}</td>
			      		<td><a href='#modify/{{row.id}}'>Edit</a></td>
			       	</tr>
			    </tbody>
		    </table>
	    </div>
	</div>
</div>

