<div ng-controller='AssetScheduleModifyController' ng-init="listAllCampaigns(); listAllAssets();">

	<div class="pure-g ">
		<div class="pure-u-1 pure-u-md-1">
			<div class="panel-header">{{message}}</div>
		</div>	

	    <div class="pure-u-1 pure-u-md-1">	    	
           <form class="pure-form pure-form-aligned">
			    <fieldset>
			    	
			    	<div class="pure-control-group">
			            <label for="campaignId">Campaign</label>
			            <select id="campaignId" class="pure-input-1-4" ng-model="schedule.campaignId" ng-options="c.id as c.campaingName for c in campaigns"  ng-required="true"></select>
			        </div>

			        <div class="pure-control-group">
			            <label for="assetId">Asset</label>
			            <select id="assetId" class="pure-input-1-4" ng-model="schedule.assetId" ng-options="a.id as a.name for a in assets"  ng-required="true"></select>
			        </div>

			        <div class="pure-control-group">
			            <label for="description">Description</label>
			            <input id="description" type="text" class="pure-input-1-2" ng-model="schedule.description"  ng-required="true" ng-minlength="10"  placeholder="Description">
			        </div>

			        <div class="pure-control-group">
			            <label for="fromDate">From</label>
			            <input id="fromDate" type="datetime" class="pure-input-1-4" date-time ng-model="schedule.fromDate" required="true"
			              max-view="date" min-view="minutes" partial="true" auto-close="true" format="yyyy-MM-dd HH:mm:ss">
			        </div>

			        <div class="pure-control-group">
			            <label for="toDate">To</label>
			            <input id="toDate" type="text" class="pure-input-1-4" date-time ng-model="schedule.toDate" required="true"
			               max-view="date" min-view="minutes" partial="true" auto-close="true" format="yyyy-MM-dd HH:mm:ss">
			        </div>

			        <div class="pure-control-group">
			            <label for="duration">Duration</label>
			            <input id="duration" type="number" class="pure-input-1-4" ng-model="schedule.duration"  ng-required="true"  
			                   placeholder="Duration in minutes">
			        </div>

			        <div class="pure-control-group">
			            <label for="status">Status</label>
                        <select id="status" class="pure-input-1-4" ng-model="schedule.status" 
                             ng-options="s.key as s.value for s in status_options" ng-required="true"></select>
			        </div>

			        <div class="pure-controls">
			            <button type="submit" class="pure-button pure-button-primary" ng-click='saveAssetSchedule()'>{{addButtonText}}</button>
			        </div>
			    </fieldset>
			</form>
	    </div>
	</div>

</div>