<ion-view view-title="Gatha">
  <ion-content>
    <ion-list ng-init="getCategories()">
       {{message}}
      <ion-item ng-repeat="category in categories.data" href="#/app/gatha/{{category.category}}">
        {{category.title}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
