<ion-view view-title="Gatha - {{category.title}}">
  <ion-content >
    <div class="list" ng-init="getList()">
	    <ion-item ng-repeat='category in categories.data'
         class="item-thumbnail-left item-icon-right item-text-wrap" href="#/app/gatha/{{category.category}}">
   
	      <img src="cover.jpg">
	      <h2>{{category.title}}</h2>
	      <p>Nine Inch Nails</p>
	      <button class="button button-all-clear">
	           <i class="icon ion-play"></i>
	      </button>
	      <button class="button button-all-clear" 
	         ng-controller="FileTransferController" ng-click="fileDownload('')" >
	           <i class="icon ion-android-download"></i>
	      </button>
	      <span class="item-note">
              {{timeInMs |  timeAgo:'dd-MM-yyyy'}}
          </span>
	      <progress ng-hide="download.progress==1;" max="1" value="{{download.progress}}"></progress>

	      
	      
	    </ion-item>

	</div>
  </ion-content>
</ion-view>
