<ion-view view-title="Pirith - {{category.title}}">
  <ion-content>

    <div class="list" ng-init="getList()">

	    <a class="item item-thumbnail-left" 
	       ng-repeat="category in categories.data"
	       href="#/app/pirith/{{category.category}}">
	      <img src="cover.jpg">
	      <h2>{{category.title}}</h2>
	      <span class="item-note">
              Last Updated Time
          </span>
	    </a> 

	</div>
  </ion-content>
</ion-view>
