<div ng-controller='DeviceScheduleModifyController' ng-init='listAllDevices(); listAllCampaigns();'>

	<div class="pure-g ">
		<div class="pure-u-1 pure-u-md-1">
			<div class="panel-header">{{message}}</div>
		</div>	

	    <div class="pure-u-1 pure-u-md-1">	    	
           <form class="pure-form pure-form-aligned">
			    <fieldset>
			  
			    	<div class="pure-control-group">
			            <label for="indexNo">Index No</label>
			            <input id="indexNo" type="number" class="pure-input-1-4" ng-model="schedule.indexNo"  ng-required="true" ng-minlength="4"  placeholder="Index number">
			        </div>

			        <div class="pure-control-group">
			            <label for="deviceId">Device</label>
			            <select id="deviceId" class="pure-input-1-4" ng-model="schedule.deviceId" ng-options="d.id as d.name for d in devices"
			              ng-required="true"></select>
			        </div>

			        <div class="pure-control-group">
			            <label for="campaignId">Campaign</label>
			            <select id="campaignId" class="pure-input-1-4" ng-model="campaignId" 
			                    ng-options="c.id as c.campaingName for c in campaigns"  ng-change="listAssetSchedules(campaignId)" ng-required="true"></select>
			        </div>

			        <div class="pure-control-group">
			            <label for="assetScheduleId">Asset Schedule</label>
			            <select id="assetScheduleId" class="pure-input-1-4" ng-model="schedule.assetScheduleId" 
			               ng-options="a.id as a.description for a in assetSchedules" ng-required="true"></select>
			        </div>

			        <div class="pure-control-group">
			            <label for="status">Status</label>
                        <select id="status" class="pure-input-1-4" ng-model="schedule.status" 
                             ng-options="s.key as s.value for s in status_options" ng-required="true"></select>
			        </div>

			        <div class="pure-controls">
			            <button type="submit" class="pure-button pure-button-primary" ng-click='saveDeviceSchedule()'>{{addButtonText}}</button>
			        </div>
			    </fieldset>
			</form>
	    </div>
	</div>

</div>