<div ng-controller='DeviceScheduleListController' ng-init='listAllCampaigns(); listAllDevices();' >

	<div class="pure-g">
	    <div class="pure-u-1 pure-u-md-1-5">
            <a class="pure-button pure-button-primary" href="#/create">Add Device Schedule</a>
            
	    </div>
	    <div class="pure-u-1 pure-u-md-4-5"></div>
	</div>

	<div class="pure-g">
		<div class="pure-u-2-3 pure-u-md-2-3 search-panel">
            <select id="deviceId" class="pure-input-2-4 search-form-content" ng-model="search.deviceId" 
                    ng-options="d.id as d.name for d in devices" ng-required="true">
                    <option>  </option>
            </select>

            <select id="campaignId" class="pure-input-2-4" ng-model="campaignId" 
			        ng-options="c.id as c.campaingName for c in campaigns"  
			        ng-change="listAssetSchedules(campaignId)" ng-required="true">
			        <option>  </option>
			</select>

            <select id="assetScheduleId" class="pure-input-2-4" ng-model="search.assetScheduleId" 
			               ng-options="a.id as a.description for a in assetSchedules" ng-required="true">
			        <option>  </option>
			</select>

			<button class="pure-button" ng-click="searchData()">
			    <i class="fa fa-cog"></i> Search
			</button>               

	    </div>

	    <div class="pure-u-1 pure-u-md-1">
	    	<table st-table="schedules" class="pure-table pure-table-horizontal">
			    <thead>
			      <tr>
				      <th st-sort="indexNo" >#</th>
				      <th st-sort="deviceId">Device</th>
				      <th st-sort="assetScheduleId">Asset Schedule</th>
			      	  <th st-sort="status" >Status</th>
			      	  <th st-sort="createdBy" >Created By</th>
			      	  <th>Action</th>
		      	  </tr>
		    	</thead>
		    	<tbody>
			      	<tr ng-repeat="row in schedules">
			      		<td>{{row.indexNo}}</td>
			        	<td>{{row.deviceId}}</td>
			        	<td>{{row.assetScheduleId}}</td>
			      		<td>{{row.status}}</td>
			      		<td>{{row.createdBy}}</td>
			      		<td><a href='#modify/{{row.id}}'>Edit</a></td>
			       	</tr>
			    </tbody>
		    </table>
	    </div>
	</div>
</div>

