<div ng-controller='AssetModifyController'>

	<div class="pure-g ">
		<div class="pure-u-1 pure-u-md-1">
			<div class="panel-header">{{message}}</div>
		</div>	

	    <div class="pure-u-1 pure-u-md-1">	    	
           <form class="pure-form pure-form-aligned">
			    <fieldset>
			        <div class="pure-control-group">
			            <label for="name">Asset Name</label>
			            <input id="name" type="text" class="pure-input-1-4" ng-model="asset.name"  ng-required="true" ng-minlength="6"  placeholder="Asset Name">
			        </div>

			        <div class="pure-control-group">
			            <label for="assetType">Asset Type</label>
			            <select id="assetType" class="pure-input-1-4" ng-model="asset.assetType" ng-options="a.key as a.value for a in assetTypes"     ng-required="true"></select>
			        </div>

			        <div class="pure-control-group">
			            <label for="resource">Resource Path</label>
			            <input id="resource" type="text" class="pure-input-1-2" ng-model="asset.resource"  ng-required="true"  
			                   placeholder="Resource Path">
			        </div>

			        <div class="pure-control-group">
			            <label for="status">Status</label>
                        <select id="status" class="pure-input-1-4" ng-model="asset.status" ng-options="s.key as s.value for s in status_options" 
                                ng-required="true"></select>
			        </div>

			       
			        <div class="pure-controls">
			            <button type="submit" class="pure-button pure-button-primary" ng-click='saveAsset()'>{{addButtonText}}</button>
			        </div>
			    </fieldset>
			</form>
	    </div>
	</div>

</div>