<div ng-controller='AssetListController'>

	<div class="pure-g">
	    <div class="pure-u-1 pure-u-md-1-5">
            <a class="pure-button pure-button-primary" href="#/create">Add New Asset</a>
            
	    </div>
	    <div class="pure-u-1 pure-u-md-4-5"></div>
	</div>

	<div class="pure-g">
	    <div class="pure-u-1 pure-u-md-1">
	    	<table st-table="assets" class="pure-table pure-table-horizontal">
			    <thead>
			      <tr>
				      <th st-sort="name" >Asset Name</th>
				      <th st-sort="assetType">Asset Type</th>
				      <th st-sort="resource">Resource Path</th>
			      	  <th st-sort="status" >Status</th>
			      	  <th st-sort="createdBy" >Created By</th>
			      	  <th>Action</th>
		      	  </tr>
		    	</thead>
		    	<tbody>
			      	<tr ng-repeat="row in assets">
			      		<td>{{row.name}}</td>
			        	<td>{{row.assetType}}</td>
			        	<td>{{row.resource}}</td>
			      		<td>{{row.status}}</td>
			      		<td>{{row.createdBy}}</td>
			      		<td><a href='#modify/{{row.id}}'>Edit</a></td>
			       	</tr>
			    </tbody>
		    </table>
	    </div>
	</div>
</div>

