<div ng-controller='CampaignListController'>

	<div class="pure-g">
	    <div class="pure-u-1 pure-u-md-1-5">
            <a class="pure-button pure-button-primary" href="#/create">Add New Campaign</a>
            
	    </div>
	    <div class="pure-u-1 pure-u-md-4-5"></div>
	</div>

	<div class="pure-g">
	    <div class="pure-u-1 pure-u-md-1">
	    	<table st-table="campaigns" class="pure-table pure-table-horizontal">
			    <thead>
			      <tr>
				      <th st-sort="campaingName" >Campaign Name</th>
				      <th st-sort="accountId">Account Id</th>
				      <th st-sort="createdBy">Created By</th>
			      	  <th st-sort="status" >Status</th>
			      	  <th >Action</th>
		      	</tr>
		    	</thead>
		    	<tbody>
		      	<tr ng-repeat="row in campaigns">
		      		<td>{{row.campaingName}}</td>
		        	<td>{{row.accountId}}</td>
		        	<td>{{row.createdBy}}</td>
		      		<td>{{row.status}}</td>
		      		<td><a href='#modify/{{row.id}}'>Edit</a></td>
		       	</tr>
			    </tbody>
		    </table>
	    </div>
	</div>
</div>

