<div ng-controller='CampaignModifyController'>

	<div class="pure-g ">
		<div class="pure-u-1 pure-u-md-1">
			<div class="panel-header">{{message}}</div>
		</div>	

	    <div class="pure-u-1 pure-u-md-1">	    	
           <form class="pure-form pure-form-aligned">
			    <fieldset>
			        <div class="pure-control-group">
			            <label for="name">Campaign Name</label>
			            <input id="name" type="text" class="pure-input-1-4" ng-model="campaign.campaingName"  ng-required="true" ng-minlength="6"  placeholder="Campaign Name">
			        </div>

			        <div class="pure-controls">
			            <button type="submit" class="pure-button pure-button-primary" ng-click='saveCampaign()'>{{addButtonText}}</button>
			        </div>
			    </fieldset>
			</form>
	    </div>
	</div>

</div>