<ion-view view-title="Deshana - {{category.title}}">
  <ion-content>
    <div class="list" ng-init="getList()">

	    <a class="item item-thumbnail-left" 
	      ng-repeat="category in categories.data"
	      href="#/app/deshana/{{category.category}}">
	      <img src="cover.jpg">
	      <h2>{{category.title}}</h2>
	      <p>Nine Inch Nails</p>
	       <ion-option-button class="button-positive"
                       ng-click="share(item)">
      Share
    </ion-option-button>
    <ion-option-button class="button-info"
                       ng-click="edit(item)">
      Edit
    </ion-option-button>
    <ion-delete-button class="ion-minus-circled"
                       ng-click="items.splice($index, 1)">
    </ion-delete-button>
	      <span class="item-note">
              Last Updated Time
          </span>
	    </a>

	</div>
  </ion-content>
</ion-view>
