<ion-view view-title="The Buddhist - Team">
  <ion-content>
    <ion-list>
      <ion-item>
         By Amila Silva

         CodeMill Solutions
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>