<ion-view view-title="The Buddhist">

<div class="bar bar-subheader item-input-inset bar-light">
  <label class="item-input-wrapper">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="search" ng-model="query" placeholder="Search">
  </label>
</div>
	
  <ion-content class="has-subheader">
    <ion-refresher on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list >
        <ion-item ng-repeat='item in items'
         class="item-thumbnail-left item-icon-right item-text-wrap" href="">

  	      <img ng-src="cover.jpg" alt="">
  	      <h2>{{category.title}}</h2>
  	      <p>Nine Inch Nails</p>
  	      <button class="button button-all-clear">
  	           <i class="icon ion-play"></i>
  	      </button>
  	      <button class="button button-all-clear">
  	           <i class="icon ion-android-download"></i>
  	      </button>

  	      <span class="item-note">
                {{timeInMs |  timeAgo:'dd-MM-yyyy'}}
          </span>
        </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
