<div class="form-messages errors {{extraStyles}}" ng-show="vm.errorMessages.length > 0" ng-cloak>
    <img class="error-icon" src="../../resources/img/error-icon.png">

    <div class="messages-group">
        <div ng-repeat="error in vm.errorMessages">{{error.description}}</div>
    </div>
</div>