<div ng-controller='DeviceRegisterController'>

	<div class="pure-g ">
		<div class="pure-u-1 pure-u-md-1">
			<div class="panel-header">{{message}}</div>
		</div>	

	    <div class="pure-u-1 pure-u-md-1">	    	
           <form class="pure-form pure-form-aligned">
			    <fieldset>
			        <div class="pure-control-group">
			            <label for="name">Device Name</label>
			            <input id="name" type="text" class="pure-input-1-4" ng-model="device.name"  ng-required="true" ng-minlength="6"  placeholder="Device Name">
			        </div>

			        <div class="pure-control-group">
			            <label for="deviceKey">Device Key</label>
			            <input id="deviceKey" type="text" class="pure-input-1-4" ng-model="device.deviceKey"  ng-required="true"  placeholder="Device key">
			        </div>

			        <div class="pure-control-group">
			            <label for="macAddress">MAC Address</label>
			            <input id="macAddress" type="text" class="pure-input-1-4" ng-model="device.macAddress"  ng-required="true"  placeholder="MAC Address">
			        </div>
			        <div class="pure-controls">
			            <button type="submit" class="pure-button pure-button-primary" ng-click='registerDevice()'>{{addButtonText}}</button>
			        </div>
			    </fieldset>
			</form>
	    </div>
	</div>

</div>