
<div ng-controller='DeviceRegisterController'>
	<h2>Device Details</h2>
	 
	<div class="pure-g ">
		<div class="pure-u-1 pure-u-md-1">
		</div>	

	    <div class="pure-u-1 pure-u-md-1">	    	
           <form class="pure-form pure-form-aligned">
			    <fieldset>
			        <div class="pure-control-group">
			            <label for="name">Device Name</label>
			            <input id="name" type="text" class="pure-input-1-4" ng-model="device.name"  ng-required="true" ng-minlength="6"  placeholder="Device Name">
			        </div>

			        <div class="pure-control-group">
			            <label for="deviceKey">Device Key</label>
			            <input id="deviceKey" type="text" class="pure-input-1-4" ng-model="device.deviceKey"  ng-required="true"  placeholder="Device key">
			        </div>

			        <div class="pure-control-group">
			            <label for="macAddress">MAC Address</label>
			            <input id="macAddress" type="text" class="pure-input-1-4" ng-model="device.macAddress"  ng-required="true"  placeholder="MAC Address"readonly >
			        </div>
			        <div class="pure-controls">
			            <button type="submit" class="pure-button pure-button-primary" ng-click='registerDevice()'>{{addButtonText}}</button>
			        </div>
			    </fieldset>
			</form>
	    </div>
	</div>

</div>

<div>
	<h2>Health Log</h2>
	<div ng-controller="DeviceHealthLogController">

		<div class="pure-g ">
			<div class="pure-u-1-2 pure-u-md-1-2">
				 <nvd3 options="options" data="cpu" config="{refreshDataOnly: true}" api="apiCpu" ></nvd3>
	        </div>
	        <div class="pure-u-1-2 pure-u-md-1-2">
	        	 <nvd3 options="options" data="temp" config="{refreshDataOnly: true}" api="apiTemp" ></nvd3>
	        </div>
	        <div class="pure-u-1-2 pure-u-md-1-2">
	        	 <nvd3 options="options" data="ram" config="{refreshDataOnly: true}" api="apiRam" ></nvd3>
	        </div>
	        <div class="pure-u-1-2 pure-u-md-1-2">
	        	 <nvd3 options="options" data="disk" config="{refreshDataOnly: true}" api="apiDisk" ></nvd3>
	        </div>
        </div>
    </div>
</div>

<div>
	<h2>Event Log</h2>
	<div ng-controller="DeviceEventLogController">
       <div class="pure-g">
	    <div class="pure-u-1 pure-u-md-1">
	    	<table st-table="devices" class="pure-table pure-table-horizontal">
			    <thead>
			      <tr>
				      <th st-sort="logTime" >Time</th>
				      <th st-sort="campaign">Campaign</th>
				      <th st-sort="asset">Asset</th>
			      	  <th st-sort="schedule">Schedule</th>
			      	  <th st-sort="duration">Duration</th>
			      	  <th st-sort="message" >Message</th>
		      	</tr>
		    	</thead>
		    	<tbody>
		      	<tr ng-repeat="row in eventLogs">
		      		<td>{{row.logTime}}</td>
		        	<td>{{row.campaign}}</td>
		      		<td>{{row.asset}}</td>
		    	  	<td>{{row.schedule}}</td>
		      		<td>{{row.duration}}</td>
		      		<td>{{row.message}}</td>
		       	</tr>
			    </tbody>
		    </table>
	    </div>
	</div>
    </div>
</div>





