<div ng-controller='DeviceListController'>

	<div class="pure-g">
	    <div class="pure-u-1 pure-u-md-1-5">
            <a class="pure-button pure-button-primary" href="#/register">Register</a>
            
	    </div>
	    <div class="pure-u-1 pure-u-md-4-5"></div>
	</div>

	<div class="pure-g">
	    <div class="pure-u-1 pure-u-md-1">
	    	<table st-table="devices" class="pure-table pure-table-horizontal">
			    <thead>
			      <tr>
				      <th st-sort="name" >Device Name</th>
				      <th st-sort="deviceKey">Device Key</th>
				      <th st-sort="macAddress">MAC Address</th>
			      	  <th st-sort="registered" >Registered</th>
			      	  <th st-sort="lastlinkedTime">Last Linked Time</th>
			      	  <th st-sort="nextExpectedHBTime" >Next Expected Time</th>
			      	  <th st-sort="lastKnownStatus" >Status</th>
			      	  <th>Action</th>
		      	</tr>
		    	</thead>
		    	<tbody>
		      	<tr ng-repeat="row in devices">
		      		<td>{{row.name}}</td>
		        	<td>{{row.deviceKey}}</td>
		      		<td>{{row.macAddress}}</td>
		    	  	<td>{{row.registered}}</td>
		      		<td>{{row.lastlinkedTime}}</td>
		      		<td>{{row.nextExpectedHBTime}}</td>
		      		<td>{{row.lastKnownStatus}}</td>
		      		<td><a href="#/view/{{row.id}}"><i class="fa fa-pencil-square-o"></i></a></td>
		       	</tr>
			    </tbody>
		    </table>
	    </div>
	</div>
</div>

</div>